.Rocosa{
    -fx-background-color: #877039;
/*    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.Pantano {
    -fx-background-color: #669024;
/*    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.Espina {
    -fx-background-color: #eddc10;
/*    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.Nube {
    -fx-background-color:#6fd3f5;
/*    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.NebulosaDeAndromeda {
    -fx-background-color:#95b5c0;
/*    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.TormentaPsionica {
    -fx-background-color:#606364;
/*    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.CasillaCamino{
    -fx-border-width:3;
    -fx-border-color:#24db49;
}
.CasillaActual{
    -fx-border-color:#24db49;
    -fx-border-width:1;
}
.CasillaMostrar{
    -fx-background-color:#37ec43;
}
.OptimusHumanoide{
    -fx-background-image: url("optimus.png");
}
.OptimusAlterno{
    -fx-background-image: url("optimusAlterno.png");
}
.RatchetHumanoide{
    -fx-background-image: url("ratchet.png");
}
.RatchetAlterno{
    -fx-background-image: url("ratchetAlterno.png");
}
.BumblebeeHumanoide{
    -fx-background-image: url("bumblebee.png");
}
.BumblebeeAlterno{
    -fx-background-image: url("bumblebeeAlterno.png");
}
.MegatronHumanoide{
    -fx-background-image: url("megatron.png");
}
.MegatronAlterno{
    -fx-background-image: url("megatronAlterno.png");
}
.FrenzyHumanoide{
    -fx-background-image: url("frenzy.png");
}
.FrenzyAlterno{
    -fx-background-image: url("frenzyAlterno.png");
}
.BonecrusherHumanoide{
    -fx-background-image: url("bonecrusher.png");
}
.BonecrusherAlterno{
    -fx-background-image: url("bonecrusherAlterno.png");
}
.Superion{
    -fx-background-image: url("superion.png");
}
.Menasor{
    -fx-background-image: url("menasor.png");
}
.Flash{
    -fx-background-image:url("flash.png");
}
.BurbujaInmaculada{
    -fx-background-image:url("burbujas.png");
}
.DobleCanon{
    -fx-background-image:url("cañon.png");
}
.ChispaSuprema{
    -fx-background-image:url("chispa.png");
}
.Maximizado{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50% 50%;
    -fx-background-position: right bottom;
}
.Minimizado{
    -fx-background-size: stretch;
}