.Rocosa{
    -fx-background-color: #877039;
    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.Pantano {
    -fx-background-color: #669024;
    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.Espina {
    -fx-background-color: #eddc10;
    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.Nube {
    -fx-background-color:#6fd3f5;
    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.NebulosaDeAndromeda {
    -fx-background-color:#95b5c0;
    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.TormentaPsionica {
    -fx-background-color:#606364;
    -fx-border-width: 0.5;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.CasillaCamino{
    -fx-border-width:3;
    -fx-border-color:#24db49;
}
.CasillaActual{
    -fx-border-color:#24db49;
    -fx-border-width:1;
}
.CasillaMostrar{
    -fx-background-color:#37ec43;
}
.Optimus{
    -fx-background-image: url("optimus.png");
    -fx-background-size: stretch;
}
.Ratchet{
    -fx-background-image: url("ratchet.png");
    -fx-background-size: stretch;
}
.Bumblebee{
    -fx-background-image: url("bumblebee.png");
    -fx-background-size: stretch;
}
.Megatron{
    -fx-background-image: url("megatron.png");
    -fx-background-size: stretch;
}
.Frenzy{
    -fx-background-image: url("frenzy.png");
    -fx-background-size: stretch;
}
.Bonecrusher{
    -fx-background-image: url("bonecrusher.png");
    -fx-background-size: stretch;
}
.Flash{
    -fx-background-image:url("flash");
    -fx-background-size: stretch;
}
.BurbujaInmaculada{
    -fx-background-image:url("burbujas");
    -fx-background-size: stretch;
}
.DobleCañon{
    -fx-background-image:url("cañon");
    -fx-background-size: stretch;
}